@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  /* flex일 때 세로축 기준으로 가운데 */
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Poor Story", cursive;
  font-size: 20px;
}

#root {
  background-color: white;
  /* 그림자 효과 */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
